.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 20%;
    margin-bottom: 30px;
    
}
.productos__contenido{
    background-color: white;
    margin-left: 20px;
    box-shadow: 2px 2px 5px #999;
    
}
.productos__contenido:hover{
    transform: scale(1.1);
}
.ver__productos{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
    margin-left: 10px;


}body{
    background: #F5F5F5;
}
/* celular */
@media screen and (min-width:0){
   .productos__contenido{
    margin-bottom: 15px;
   }
   .productos__contenido:nth-child(5){
    display: none;
   }

  
}
@media screen and (min-width:768px){
   .productos__contenido{
    margin-bottom: 10px;
   }
   .productos__contenido:nth-child(5){
    display: none;
   }

}
@media screen and (min-width:922px){
    .productos__contenido{
        margin-bottom: 0px;
    }
    .productos__contenido:nth-child(5){
       display: block;
       }
 
       
    
}
