.footer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media screen and (min-width:0px){
    .footer{
      display: flex;
      justify-content: center;    
   }
}   
@media screen and (min-width:768px){
    .footer{
        display: flex;
        justify-content: center;    
    }
}   
